includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    level: max
    paths:
        - src
        - config
    checkOctaneCompatibility: true
    checkModelProperties: true
